.env
venv

.DS_Store

__pycache__/*
__pycache__

FindMyNextAnime.egg-info

Artifacts
Artifacts/*

notebooks/Logs
notebooks/Logs/*
notebooks/models
notebooks/models/*
notebooks/Weights
notebooks/Weights/*
notebooks/encoders
notebooks/encoders/*